body {
    font-size: 13px;
    line-height: 1.6;
    font-family: "Open Sans", Arial, sans-serif;
}

p {
    margin: 0 0 10px;
}

.header {
    background-color: rgba(0, 0, 0, .5);
    float: left;
}

.navbar-header {
    display: block;
}

.navbar .navbar-brand {
    height: 93px;
    max-height: 93px;
    line-height: 93px;
    vertical-align: middle;
    padding: 0px 15px;
}

.navbar .navbar-brand a {
    line-height: inherit;
    vertical-align: middle;
}

.navbar-nav {
    display: block;
    float: right;
    height: 94px;
    max-height: 94px;
}

.navbar-icons {
    display: block;
    float: right;
}

.navbar .container-fluid {
    padding: 0px 40px;
}

.navbar-nav > li {
    line-height: 94px;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 93px;
    padding: 0 20px;
    vertical-align: middle;
}

.navbar-icons a {
    font-size: 16px !important;
}

.squeezed {
    background-color: #2a2b2b;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-brand {
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-nav {
    height: 70px;
    max-height: 70px;
    line-height: 39px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.squeezed .navbar-nav > li > a {
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar-brand img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#video-title-text {
    text-align: center;
    color: #ffffff;
}

#video-title-text > p {
    font-size: 18px;
    font-weight: 400;
    padding: 3px 0px;
}

#video-title-text > h2 {
    font-size: 60px;
    line-height: 63px;
    font-weight: 600;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 7px 0px;
}

.btn-light {
    border: solid white 1px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-light:hover {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-dark {
    border: solid black 1px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-dark:hover {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.btn-green {
    border: none;
    color: #fff;
    background-color: #72c02c;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    margin-right: 10px;
}

.btn-green:hover {
    color: #fff;
    background-color: #5fb611;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.img-md {
    height: 100px;
    width: 100px;
}

.content {
    padding: 0 0;
}

.thumbnail {
    display: block;
    padding: 0px;
    border: none;
    background-color: #000;
    line-height: 1.42857143;
}

.thumbnail:hover {
    border: none;
}

a.fancybox {
    overflow: hidden;
}

.fancybox img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;

}

.fancybox img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}

.thumbnail-container {
    display: block;
}

.zoom-icon {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: #fff;
    background: #72c02c;
    text-align: center;
    line-height: 53px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin-top: -25%;
    margin-left: -25px;
    border-radius: 50%;
}

a.fancybox:hover .zoom-icon {
    visibility: visible;
}

.tags-line a {
    color: #999;
}

.tags-line i {
    margin-right: 5px;
}

.latest-carousel .item {
    margin: 3px;
}

.latest-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
}

.owl-controls {
    text-align: center;
}

.owl-controls .owl-page {
    display: inline-block;
}

.owl-controls .owl-page span {
    background-color: #bbb;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    display: block;
    height: 12px;
    margin: 5px 3px;
    width: 12px;
}

.owl-page.active span,
.owl-page:hover span {
    background-color: #72c02c;
}

.dark-parallax {
    color: #fff;
}

.dark-parallax .img-circle {
    height: 135px;
    width: 135px;
    margin: 0 auto;
}

.dark-parallax {
    padding-bottom: 60px;

}

.say-container {
    background-color: rgba(255, 255, 255, .25);
    padding: 40px 0px;
    margin: 5px;
}

.lightest {
    background-color: #fff !important;
}

.lighter {
    background-color: #eee !important;
}

.span-round {
    display: block;
    color: #999;
    background-color: #eee;
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    padding-top: 14px;
    line-height: 50px;
    border-radius: 50%;
}

.media:hover .span-round {
    color: #fff;
    background-color: #72c02c;
}

.footer {
    background-color: #2a2b2b;
    padding-top: 40px;
    color: #fff;
}

.map-bg {
    background: url("/static/hw3/img/map-img.png");
}

.copyright {
    padding: 20px 0;
    background-color: #222;
    color: #fff;
}

.social {
    padding: 0px 7px;
    color: #777;
    font-size: 16px;
}

.content > .container > .row {
    padding: 60px 0;
}